
.card_container {
  // background-color: var(--white2);
  box-shadow: 1px 2px 40px rgba(0, 0, 0, 0.1);
  margin: 20px;
  margin-left: 40px;
  min-width: 500px;
  width: 95%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .Admincard {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    gap: 40px;
    text-transform: capitalize;
  }
  .card1 {
    background: linear-gradient(120deg, var(--white), var(--primary));

    .card_icons {
      font-size: 35px;
      color: purple;
    }
    div {
      h5 {
        font-size: 19px;
        color: var(--black);
      }

      h2 {
        font-size: 30px;
        color: var(--black2);
      }
    }
  }
  .card2 {
    background: linear-gradient(120deg, var(--white), var(--cyan));

    .card_icons {
      font-size: 35px;
      color: tomato;
    }
    div {
      h5 {
        font-size: 19px;
        color: var(--white);
      }

      h2 {
        font-size: 30px;
        color: var(--black2);
      }
    }
  }
  .card3 {
    background: linear-gradient(120deg, var(--white), var(--black));

    .card_icons {
      font-size: 35px;
      color: var(--black);
    }
    div {
      h5 {
        font-size: 19px;
        color: var(--white);
      }

      h2 {
        font-size: 30px;
        color: var(--white2);
      }
    }
  }
  .card4 {
    background: linear-gradient(120deg, var(--white), blue);

    .card_icons {
      font-size: 35px;
      color: teal;
    }
    div {
      h5 {
        font-size: 19px;
        color: var(--black);
      }

      h2 {
        font-size: 30px;
        color: var(--black2);
      }
    }
  }
}
// progrss bar
.progress_bar {
  background-color: var(--white);
  border-radius: 10px;
  margin-left: 40px;
  padding: 30px;
  width: calc(100% - 70px);
  box-shadow: 1px 2px 40px rgba(0, 0, 0, 0.1);
  margin-top: 70px;

  .progressbar_lable {
    background-color: var(--black2);
    padding: 1px 10px;
    font-size: 13px;
    color: var(--primary);
    border-radius: 20px;
    text-transform: capitalize;
  }
}

// popular customers
.popular_customer {
  height: 250px;
  width: calc(100% - 70px);
  margin-left: 40px;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 70px;

  .customer_card {
    height: 100%;
    width: 250px;
    box-shadow: 1px 2px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;

    img {
      width: 150px;
      height: 150px;
      border-radius: 150px;
    }
    h2 {
      text-transform: capitalize;
      color: var(--black);
      font-size: 18px;
      font-weight: bold;
    }

    h4 {
      color: var(--black2);
      font-size: 13px;
      font-weight: bold;
    }
  }
}

// customer
.customers {
  display: block;
  h3 {
    padding: 10px 5px;
    color: var(--black2);
    font-size: 14px;
    display: flex;
    text-transform: capitalize;
    display: flex;
    gap: 10px;
    color:var(--primary);

    div{
        cursor: pointer;
    }
  }
  table {
    overflow: scroll;
  }

  tr {
    align-items: start;
    padding: 5px;
    height: 40px;
    // background-color: red;
  }

  .tableheading {
    // background-color: red;

    th {
      text-transform: capitalize;
      font-weight: bold;
      font-size: 15px;
      width: 200px;
      color: var(--black2);
      text-align: left;
      border-bottom: 1px solid var(--black2);
      margin-bottom: 3px;
    }
  }

  tbody tr {
    border-bottom: 1px solid var(--white2);
    // margin-bottom: 5px;
    overflow: scroll;
    height: 40px;

    .customer_name_avater {
      display: flex;
      align-items: center;
      gap: 5px;
      flex: start;
      margin: 5px 0px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 10px;  
      }
      h3 {
        font-size: 13px;
        color: var(--black2);
        text-transform: capitalize;
        align-items: center;
        display: flex;
      }
    }
    td {
      font-weight: bold;
      text-transform: capitalize;
      color: var(--black2);
      font-size: 12px;
      padding: 0px 10px;
    }
  }
}
.trueCheck,
.falseCross {
  padding: 1px;
  cursor: pointer;
  font-size: 15px;
}

.trueCheck {
  color: var(--primary);
}
.falseCross {
  color: red;
}
#actions {
  color: blue;
  align-items: center;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  height: 70px;
  gap: 20px;
  font-size: 18px;
  padding: 5px;
}
.trush {
  cursor: pointer;
  color: tomato;
  align-items: center;
  justify-content: center;
}
.edit {
  cursor: pointer;
  color: var(--cyan);
  align-items: center;
  justify-content: center;
}

.table_pagination {
  position: relative;
  height: 30px;
  margin-top: 10px;

  .page_container {
    position: absolute;
    display: flex;
    gap: 5px;
    height: 30px;
    div {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      // background: var(--white2);
        font-size: 13px; 
        cursor: pointer;     // display: flex;
    }
  }
}


.payment_modal_container{
  background-color:transparent;
  width: 100%;
  left: 0;
  padding: 10px;
  
  position: fixed;
  justify-content: space-around;
  align-items: center;
  display: flex;
  top: 10px;
  z-index: 10;

  .modal_form{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 5px;
    width: 300px;

  }
}


