

.hero_container{
    background: linear-gradient(30deg, rgb(52, 76, 211), white);
    height: 75vh;
    display: flex;
    align-items: center;
    width: 100vw;
    overflow: hidden;


    .inner_container{
        display: flex;
        width: 100%;
        height: 100%;
        padding: 20px;
        justify-content: space-around;
        
        div{
            width: 35%;

            .hero_heading{
                width: 70%;
                min-width: 300px;
                color: white;
                line-height: 45px;
            }
        }

        .image_container{
            min-width: 400px;

        }
        @media only screen and (max-width: 750px) {
           .inner_container{
               justify-content: space-between;
           }
           
            .image_container {
                display: none;
            }

            div{
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0;
    
                .hero_heading{

                    text-align:start;
                    font-size: 1.5rem;
                }
                a{
                    width: 50%;
                    text-align: center;
                }
            }

        }

    }
}
 .cards{
    // display:  flex;
    justify-content: space-between;
    gap: 30px;
    // background-color: red;
    // width: 100%;
    
} 
.card{
     height: 270px;
     width: 30%;

     .coardImageContaioner{
        height: 200px;
        width: 100%;
        object-fit: cover;

        img{
            height: 100%;
            width: 100%;
        }
     }
     .detailsContainer{
        height: 70px;
        padding: 2px 3px;

        .housetype{
            background:linear-gradient(30deg, teal , cyan);
            font-size: 10px;   
        }
        .rental{
            background:linear-gradient(30deg,brown, orange);

        }
     }
     .addressBox{
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
     }
 }
 @media only screen and (max-width: 750px) {
    .cards {
        display: flex; 
        flex-direction: column;
        align-items: center;


    }
.card{
    margin-top: 20px;
    width: 90%;

}
}  
// styling for animate_search
.animate_search{
    right: -1000px;
    position: absolute;
    transition: 1s;

}
.phone_in_card{
 font-size: 12px; 
 padding-top: 0;
 
}
.BookButton{
right: 90px;
cursor: pointer;
}

.darkeningModal{
    z-index: 20;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0, 0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .inputModal, .errorContainer{
        width: 300px;
        
        div{
            width: 100%;
            margin-bottom: 10px;
            input{
                width: 100%;
                padding: 5px 2px;
            }
        }
    }

}

.setHouseHaveBook{
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 60;
    .booked{
        width: 400px;
    }
    .bookedImg{
        height: 50px;
        width: 50px;
    }
}

.hero_footer{
    background: linear-gradient(30deg, rgb(52, 76, 211), rgb(169, 173, 224));
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


