@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary:orange;
    --secondary: rgb(43, 43, 77);
    --cyan: rgb(0, 162, 255);
    --black: #000;
    --black2:#777;
    --white:#fff;
    --white2:#c9c8c8;
}



::-webkit-scrollbar{
    width: 9px;
    background-color: var(--secondary);
    border-radius: 20px;
}
html{
    scroll-behavior: smooth;
}

   






